<div class="confirmation">
  <div class="bg"></div>
  @if (isLoading) {
  <h2>{{ message }}</h2>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="pending"
    class="icon loading"
  ></mat-icon>
  } @if (isConfirmed && !isLoading) {
  <h2>{{ message }}</h2>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="check_circle"
    class="icon success"
  ></mat-icon>

  } @else if(!isConfirmed && !isLoading) {
  <h2>{{ message }}</h2>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="cancel"
    class="icon failed"
  ></mat-icon>
  }
</div>
