.error-alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100px;
  background: rgb(197, 122, 122);
  color: rgb(168, 5, 5);
  position: absolute;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgb(168, 5, 5);
  padding-right: 2px;
  padding-left: 2px;
  cursor: pointer;
}
