<div class="chat">
  <h2>Team chat room</h2>
  <div class="scroll">
    @if (!isTokenExist()) {
    <h3 class="alert-login">Please log in</h3>
    } @if(!connectionState()) {
    <h3 class="alert-login">Chat offline, try later</h3>
    }
    <div class="join-message">
      @for (message of joinMessageList(); track $index) {
      <h3>{{ message }}</h3>
      }
    </div>
    <div class="messages">
      @for (message of messageList(); track $index) {
      <div
        [ngClass]="
          message.firstname === user?.firstname
            ? 'message-left'
            : 'message-right'
        "
      >
        <h3>{{ message.firstname }} {{ message.lastname }} :</h3>
        <p>{{ message.message }}</p>
      </div>
      }
    </div>
  </div>
  <div class="text-area">
    <mat-form-field class="example-full-width">
      <mat-label>Leave your message</mat-label>
      <textarea
        [formControl]="message"
        required
        matInput
        placeholder="Hello ..."
      ></textarea>
    </mat-form-field>
  </div>
</div>
<button
  (click)="sendMessage()"
  mat-flat-button
  color="primary"
  [disabled]="!message.valid"
>
  Send
</button>
