.register-form {
  width: 50%;
  margin: auto;
  margin-top: 25px;
  border: 4px solid #242424;
  background: rgb(240, 236, 236);
  -webkit-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

mat-form-field {
  width: 100%;
  padding: 15px;
}

.title {
  border-bottom: 1px solid #242424;
  background: #242424;
}

h2 {
  padding-top: 5px;
}

// // Text color button
.mat-mdc-unelevated-button.mat-primary {
  color: white;
}

span {
  display: inline-block;
}

button {
  width: 80%;
  margin-bottom: 10px;
}

.error {
  display: table;
  margin: 0 auto;
  color: red;
  font-size: 1.5rem;
  padding-bottom: 15px;
}
