<div class="register-form">
  <form>
    <mat-grid-list [cols]="cols" rowHeight="100px">
      <mat-grid-tile [colspan]="cols">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" name="" id="" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" name="" id="" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput type="text" name="" id="" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" name="" id="" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" name="" id="" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
