<div class="dashboard box-shadow">
  <h2 class="primary white mat-headline-6">Your Dashboard</h2>
  <div class="total">
    <div class="action">
      <button mat-raised-button color="primary">Send my Presence</button>
      <button mat-raised-button color="primary">Go to tasks</button>
      @if (user()?.teamId) {
      <button mat-raised-button color="primary">Go to team</button>

      }
    </div>
    <div class="resume">
      <mat-tab-group>
        <mat-tab label="Task">
          <mat-accordion>
            @if (user$ | async; as user) { @if (user.tasks.length > 0) {
            <h3>Task overview</h3>
            @for(task of user.tasks; track $index) {
            <app-task-expension-panel [task]="task" />
            } } @else {
            <h3>You have no task for the moment</h3>
            } }
          </mat-accordion>
        </mat-tab>
        <mat-tab label="Team">
          @if (team$ | async; as team) {
          <app-team-display [team]="team" />

          } @else if(!errorMessage) {
          <h3>No team</h3>
          }
        </mat-tab>
        <mat-tab class="notes" label="My notes">
          <div class="text-area">
            <div class="notes">
              @for (note of notes(); track $index) {
              <div class="note">
                <span class="aligned-with-icon">{{ note }} </span
                ><mat-icon (click)="deleteNote($index)">delete</mat-icon>
              </div>
              }
            </div>
            <div class="form">
              <mat-form-field class="example-full-width">
                <mat-label>Leave your message</mat-label>
                <textarea
                  [formControl]="newNote"
                  required
                  matInput
                  placeholder="Hello ..."
                ></textarea>
              </mat-form-field>
              <button (click)="saveNote()" mat-raised-button color="primary">
                Send
              </button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
