h2 {
  color: white;
  padding: 10px;
}

main {
  position: relative;
  display: flex;
  height: 550px;
}

.list,
.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.action {
  position: absolute;
  bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > button {
  align-self: flex-start;
  margin-left: 25px;
}

mat-form-field {
  width: 90%;
}

h3 {
  text-align: start;
  padding-left: 10px;
}

p {
  padding: 10px;
  text-align: start;
}

.empty {
  height: 500px;
}

button {
  z-index: 10;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons > div {
  display: flex;
  flex-direction: row;
}

.delete {
  margin-right: auto;
}

.unassign {
  width: 30%;
  margin-right: auto;
}

@media screen and (max-width: 720px) {
  .unassign {
    width: 47%;
  }
}
@media screen and (max-width: 525px) {
  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .unassign {
    width: 50%;
  }
  .buttons > div {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .buttons > div > button:nth-child(2) {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .buttons > div > button:nth-child(3) {
    margin-left: 0px;
  }
}
