<main class="box-shadow">
  <h2 class="primary">New password</h2>
  <form [formGroup]="passwordConfirmForm">
    <div class="inputs">
      <mat-form-field>
        <mat-label id="password">Password</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="passwordFieldHide ? 'password' : 'text'"
          name="password"
          id="password"
        />
        <mat-icon matSuffix (click)="passwordFieldHide = !passwordFieldHide">{{
          passwordFieldHide ? "visibility_off" : "visibility"
        }}</mat-icon>
        @if (hasErrorAndTouched(passwordConfirmForm, 'password', 'required')) {
        <mat-error>Password required</mat-error>
        } @if (hasErrorAndTouched(passwordConfirmForm, 'password', 'pattern')) {
        <mat-error>Password invalid</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label id="passwordConfirm">Confirm password</mat-label>
        <input
          formControlName="passwordConfirm"
          matInput
          type="password"
          name="passwordConfirm"
          id="passwordConfirm"
          [type]="confirmPasswordFieldHide ? 'password' : 'text'"
          [errorStateMatcher]="passwordMatcher"
        />
        <mat-icon
          matSuffix
          (click)="confirmPasswordFieldHide = !confirmPasswordFieldHide"
          >{{
            confirmPasswordFieldHide ? "visibility_off" : "visibility"
          }}</mat-icon
        >
        @if (hasErrorAndTouched(passwordConfirmForm, 'passwordConfirm',
        'required')) {
        <mat-error>Confirm password required</mat-error>
        } @if (passwordConfirmForm.errors?.['passwordMatchError']) {
        <mat-error>Password not match</mat-error>
        }
      </mat-form-field>
    </div>

    <button
      (click)="resetPassword()"
      [disabled]="!passwordConfirmForm.valid"
      mat-raised-button
      color="primary"
    >
      Send
    </button>
  </form>
</main>
