mat-toolbar {
  -webkit-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75) !important;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  margin-bottom: 100px !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

h1 {
  padding-top: 10px;
  color: white;
}

.hide {
  display: none;
}

@media screen and (min-width: 400px) {
  .hide {
    display: block;
  }
}
