.wrapper {
  padding-top: 200px;
}
.auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  background: white;
  margin: auto;
  padding-bottom: 15px;
}
button {
  margin: 15px;
  margin-bottom: 15px;
}
h2 {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  word-break: break-all;
}

@media screen and (max-width: 750px) {
  .auth {
    width: 70%;
  }
}
