<div class="background"></div>
@if (errorMessage()) {
<app-error-alert [errorMessage]="errorMessage()" />
}
<div class="wrapper">
  @if (isTokenExist()) {
  <div class="dashboard box-shadow">
    <h2 class="primary white mat-headline-6">Your Dashboard</h2>
    <div class="total">
      <div class="action">
        <button mat-raised-button color="primary">Send my Presence</button>
      </div>
      <div class="resume">
        <mat-tab-group>
          <mat-tab label="Task">
            <mat-accordion>
              @if (user$ | async; as user) { @if (user.tasks.length > 0) { @for
              (task of user.tasks; track $index) {
              <app-task-expension-panel [task]="task" />
              } } @else {
              <h3>You have no task for the moment</h3>
              } }
            </mat-accordion>
          </mat-tab>
          <mat-tab label="Team">
            @if (team$ | async; as team) {
            <app-team-display [team]="team$ | async" />

            } @else if(!errorMessage) {
            <h3>No team</h3>
            }
          </mat-tab>
          <mat-tab label="My notes"> Content 3 </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  } @else {
  <div class="auth box-shadow">
    <h2 class="primary white mat-headline-6">Connection</h2>
    <div class="button">
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button color="primary">Register</button>
    </div>
  </div>

  }
</div>
