main {
  width: 90%;
  background: white;
  margin: 50px auto;
  padding: 0;
}

h2 {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table {
  overflow: auto;
}

th,
td {
  text-align: center;
}

.advancement {
  font-size: 2rem;
  width: auto;
  height: auto;
}

span > .mat-icon {
  margin-left: 5px;
}

.filter {
  display: flex;
}

.filter > mat-form-field {
  padding-left: 5px;
}
