a {
  text-align: center;
}

.aligned-with-icon {
  position: relative;
  top: -5px;
  margin-left: 5px;
}

.mdc-list {
  padding: 0;
}

.hide {
  display: block;
}
@media screen and (min-width: 400px) {
  .hide {
    display: none;
  }
}
