<div class="img">
  <img src="assets/logo.png" alt="" />
</div>

<mat-nav-list>
  <a mat-list-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span class="aligned-with-icon">Home</span>
  </a>
  @if (isTokenExist()) {
  <a mat-list-item routerLink="/">
    <mat-icon>person</mat-icon>
    <span class="aligned-with-icon">Profile</span>
  </a>

  <a (click)="openMenu('Task')" mat-list-item>
    <mat-icon>task</mat-icon>
    <span class="aligned-with-icon">Tasks</span>
  </a>
  <!-- mat-list-item routerLink="/team/my-team" -->
  <a (click)="openMenu('Team')" mat-list-item>
    <mat-icon>groups</mat-icon>
    <span class="aligned-with-icon">Team</span>
  </a>
  <a class="hide" (click)="openLogoutConfirmationDialog()" mat-list-item>
    <mat-icon>exit_to_app</mat-icon>
    <span class="aligned-with-icon">Logout</span>
  </a>

  } @if(!isTokenExist()) {
  <a routerLink="/auth/register" mat-list-item>
    <mat-icon>person_add</mat-icon>
    <span class="aligned-with-icon">Register</span>
  </a>
  <a (click)="openDialog()" mat-list-item>
    <mat-icon>login</mat-icon>
    <span class="aligned-with-icon">Login</span>
  </a>

  }

  <a routerLink="/about-us" mat-list-item>
    <mat-icon>info</mat-icon>
    <span class="aligned-with-icon">About us</span>
  </a>
</mat-nav-list>
