.mat-sidenav {
  width: 200px;
  padding: 0px;
}
.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100vh;
  overflow-x: hidden;
  background: #d8d5d5;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
