.title {
  border-bottom: 1px solid;
  padding: 10px;
  color: white;
}

form {
  padding: 15px;
}

a {
  font-size: 0.7rem;
  margin-left: 5px;
}

.forgot-password {
  margin-top: -20px;
  margin-bottom: 20px;
}

// Text color button
.mat-mdc-unelevated-button.mat-primary {
  color: white;
}
