div {
  padding: 10px;
}

.no-team {
  width: 70%;
  height: 700px;
  margin: 10px auto;
  border: 5px solid orange;
  padding: 0;
  background: white;
}

h2 {
  color: white;
  padding: 10px;
  background: rgb(121, 207, 104);
  background: linear-gradient(
    90deg,
    rgba(121, 207, 104, 1) 5%,
    rgba(0, 124, 51, 1) 87%
  );
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
}

main {
  display: flex;
  position: relative;
}

.actual-team {
  width: 70%;
  border: 1px solid green;
  margin: auto;
  background: white;
  padding: 0;
}

@media screen and (max-width: 1050px) {
  main > div {
    width: 90%;
  }

  .actual-team {
    margin-top: 20px;
  }
}
