@if (teamId) {
<div>
  <button
    mat-flat-button
    color="primary"
    routerLink="/team/my-team/{{ teamId }}/chat"
  >
    Join chat
  </button>
</div>
} @else {

<div class="no-team">
  <h2>Team</h2>
  <h3>You are not currently in any team</h3>
</div>
}

<main>
  <div class="actual-team box-shadow">
    <h2 class="primary">Actual Team</h2>
    @if (actualTeamErrorMessage) {
    <h3 class="mat-subtitle-1 error">{{ actualTeamErrorMessage }}</h3>
    } @if (team()) {
    <app-team-display [team]="team()"></app-team-display>

    }
  </div>
</main>
