@if (teamId) {
<div>
  <button
    mat-flat-button
    color="primary"
    routerLink="/team/my-team/{{ teamId }}/chat"
  >
    Join chat
  </button>
</div>
} @else {

<div class="no-team">
  <h2>Team</h2>
  <h3>You are not currently in any team</h3>
</div>
}

<main>
  <div class="old-team box-shadow">
    <h2 class="primary">Your old teams</h2>
    @if (oldTeamErrorMessage) {
    <h3 class="mat-subtitle-1 error">{{ oldTeamErrorMessage }}</h3>
    } @for (oldTeam of oldTeam$ | async; track $index) {
    <h3 class="mat-subtitle-1">{{ oldTeam.name }}</h3>
    <mat-tab-group>
      <mat-tab label="Users">
        <h4 class="mat-subtitle-2">
          Total members : {{ oldTeam.users.length }}
        </h4>
        @for (user of oldTeam.users; track $index) {
        <mat-list role="list">
          <mat-list-item>
            <span matListItemLine
              >{{ user.lastname }} {{ user.firstname }}</span
            >
            <span class="attendance" matListItemMeta>
              <span>Present</span>
              <mat-icon>check_circle</mat-icon></span
            >
          </mat-list-item>
        </mat-list>

        }
      </mat-tab>
      <mat-tab label="Tasks"> Tasks </mat-tab>
      <mat-tab label="Notes">
        <div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit,
          voluptatem nihil at deleniti sit sint cumque in eius, et, laudantium
          non. Dolore libero impedit doloribus error, recusandae tempore
          consequatur fugit.
        </div>
      </mat-tab>
    </mat-tab-group>
    }
  </div>
  <div class="actual-team box-shadow">
    <h2 class="primary">Actual Team</h2>
    @if (actualTeamErrorMessage) {
    <h3 class="mat-subtitle-1 error">{{ actualTeamErrorMessage }}</h3>
    } @if (team$ | async; as team) {
    <h3 class="mat-subtitle-1">{{ team.name }}</h3>
    <mat-tab-group>
      <mat-tab label="Users">
        <h4 class="mat-subtitle-2">Total members : {{ team.users.length }}</h4>
        @for (user of team.users; track $index) {
        <mat-list role="list">
          <mat-list-item>
            <span matListItemLine
              >{{ user.lastname }} {{ user.firstname }}</span
            >
            <span class="attendance" matListItemMeta>
              <span>Present</span>
              <mat-icon>check_circle</mat-icon></span
            >
          </mat-list-item>
        </mat-list>

        }
      </mat-tab>
      <mat-tab label="Tasks"> Tasks </mat-tab>
      <mat-tab label="Notes">
        <div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit,
          voluptatem nihil at deleniti sit sint cumque in eius, et, laudantium
          non. Dolore libero impedit doloribus error, recusandae tempore
          consequatur fugit.
        </div>
      </mat-tab>
    </mat-tab-group>
    }
  </div>
</main>
