div {
  padding: 10px;
}

.no-team {
  width: 70%;
  height: 700px;
  margin: 10px auto;
  border: 5px solid orange;
  padding: 0;
  background: white;
}

h2 {
  color: white;
  padding: 10px;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
}

main {
  display: flex;
  position: relative;
}

.actual-team {
  width: 70%;
  margin: auto;
  background: white;
  padding: 0;
  margin-top: 20px;
}

button {
  margin-left: 5px;
}

@media screen and (max-width: 1050px) {
  main > div {
    width: 90%;
  }

  .actual-team {
    margin-top: 20px;
  }
}
