<aside class="box-shadow">
  <mat-nav-list>
    <a mat-list-item routerLink="/">
      <mat-icon>home</mat-icon>
      <span class="aligned-with-icon">Home</span>
    </a>

    <a mat-list-item routerLink="/">
      <mat-icon>person</mat-icon>
      <span class="aligned-with-icon">Profile</span>
    </a>

    <a mat-list-item routerLink="/task">
      <mat-icon>task</mat-icon>
      <span class="aligned-with-icon">My tasks</span>
    </a>

    <a mat-list-item routerLink="/team/my-team">
      <mat-icon>groups</mat-icon>
      <span class="aligned-with-icon">My Team</span>
    </a>
    <a class="hide" mat-list-item>
      <mat-icon>exit_to_app</mat-icon>
      <span class="aligned-with-icon">Logout</span>
    </a>

    <a routerLink="/register" mat-list-item>
      <mat-icon>person_add</mat-icon>
      <span class="aligned-with-icon">Register</span>
    </a>
    <a mat-list-item>
      <mat-icon>login</mat-icon>
      <span class="aligned-with-icon">Login</span>
    </a>
  </mat-nav-list>
</aside>
