<mat-nav-list>
  @if (openedMenu() === "Task") {
  <a (click)="closeMenu()" mat-list-item routerLink="/tasks/my-tasks">
    <mat-icon>person</mat-icon>
    <span class="aligned-with-icon">My tasks</span>
  </a>

  <a mat-list-item routerLink="/task">
    <mat-icon>task</mat-icon>
    <span class="aligned-with-icon">History</span>
  </a>
  } @if (openedMenu() === "Team") {
  <a (click)="closeMenu()" mat-list-item routerLink="/team/my-team">
    <mat-icon>person</mat-icon>
    <span class="aligned-with-icon">My team</span>
  </a>

  <a mat-list-item routerLink="/">
    <mat-icon>task</mat-icon>
    <span class="aligned-with-icon">My old teams</span>
  </a>
  @if (teamId()) {
  <a
    (click)="closeMenu()"
    mat-list-item
    routerLink="/team/my-team/{{ teamId() }}/chat"
  >
    <mat-icon>chat</mat-icon>
    <span class="aligned-with-icon">Join chat</span>
  </a>

  } }
</mat-nav-list>
