.completed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-list-item--with-trailing-meta.mdc-list-item--with-two-lines
  .mdc-list-item__end {
  display: flex;
}

h3 {
  margin-top: 15px !important;
}
