@if (team) {
<h3 class="mat-subtitle-1">{{ team.name }}</h3>
<mat-tab-group>
  <mat-tab label="Users">
    <h4 class="mat-subtitle-2">Total members : {{ team.users.length }}</h4>
    <app-user-list [users]="teamMembers()"></app-user-list>
  </mat-tab>
  <mat-tab label="Tasks"
    ><h4 class="mat-subtitle-2">Total Tasks : {{ team.tasks.length }}</h4>
    <app-tasks-filter
      (onSearchUpdatedEmmiter)="onSearchUpdated($event)"
      (onPriorityUpdatedEmmiter)="onPriorityUpdated($event)"
      (onTaskDoneChangeEmmiter)="onTaskDoneChange($event)"
    />
    <app-tasks-display
      [tasksInTeam]="true"
      [tasks]="filteredTasks()"
      (taskToUpdateEmitter)="onTaskUpdated($event)"
      (taskToUnassignEmitter)="onTaskUnassigned($event)"
      [leaderId]="team.leaderId"
    />
  </mat-tab>
  <mat-tab label="Notes">
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit,
      voluptatem nihil at deleniti sit sint cumque in eius, et, laudantium non.
      Dolore libero impedit doloribus error, recusandae tempore consequatur
      fugit.
    </div>
  </mat-tab>
</mat-tab-group>
}
