@use "@angular/material" as mat;

@include mat.core();

$heading-font-family: "Moderustic", sans-serif;
$regular-font-family: "Moderustic", sans-serif;
$special-font-familty: "Bebas Neue", sans-serif;

$m2-primary: (
  50: #ecf3f8,
  100: #cee2ec,
  200: #aecee0,
  300: #8ebad4,
  400: #75acca,
  500: #5d9dc1,
  600: #5595bb,
  700: #4b8bb3,
  800: #4181ab,
  900: #306f9e,
  A100: #ffffff,
  A200: #d0f1ff,
  A400: #9de2ff,
  A700: #83dbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-accent: (
  50: #ecf2f5,
  100: #cfdee5,
  200: #b0c8d4,
  300: #90b1c3,
  400: #78a1b6,
  500: #6090a9,
  600: #5888a2,
  700: #4e7d98,
  800: #44738f,
  900: #33617e,
  A100: #e9faff,
  A200: #b6edff,
  A400: #83e1ff,
  A700: #69daff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-error: (
  50: #f7e0e0,
  100: #ecb3b3,
  200: #e08080,
  300: #d34d4d,
  400: #c92626,
  500: #c00000,
  600: #ba0000,
  700: #b20000,
  800: #aa0000,
  900: #9c0000,
  A100: #ffd5de,
  A200: #ffa2b6,
  A400: #ff6f8d,
  A700: #ff5679,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat.define-palette($m2-primary, 800);
$accent: mat.define-palette($m2-accent, 600);
$warn: mat.define-palette($m2-error, 900);

$warn: mat.define-palette($m2-error);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$input-theme: mat.define-light-theme(
  (
    color: (
      primary: $accent,
      accent: $accent,
    ),
  )
);
@include mat.all-component-themes($theme);

$my-typography: mat.define-typography-config(
  $font-family: $regular-font-family,
  $headline-5: mat.define-typography-level(30px, 32px, 400),
  $headline-6: mat.define-typography-level(25px, 32px, 400),
  $subtitle-1:
    mat.define-typography-level(
      $font-family: $special-font-familty,
      $font-size: 24px,
      $font-weight: 400,
      $letter-spacing: 1px,
    ),
  $subtitle-2: mat.define-typography-level(15px, 32px, 400),
);
@include mat.typography-hierarchy($my-typography);
.primary {
  background: rgb(65, 129, 171);
  background: linear-gradient(
    90deg,
    rgba(65, 129, 171, 1) 41%,
    rgba(88, 136, 162, 1) 67%
  );
}

.box-shadow {
  -webkit-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
}
html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  text-align: center;
}

.error {
  color: #ff1414;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

.white {
  color: white;
}

.mat-mdc-dialog-content {
  padding: 0px !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
