@use "@angular/material" as mat;

@include mat.core();

$heading-font-family: "Moderustic", sans-serif;
$regular-font-family: "Moderustic", sans-serif;

$m2-primary: (
  50: #e0f3ea,
  100: #b3e0c9,
  200: #80cca6,
  300: #4db882,
  400: #26a867,
  500: #00994c,
  600: #009145,
  700: #00863c,
  800: #007c33,
  900: #006b24,
  A100: #c7ffc3,
  A200: #96ff90,
  A400: #66ff5d,
  A700: #4eff44,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-accent: (
  50: #f9fff7,
  100: #f0ffec,
  200: #e6ffe0,
  300: #dbffd3,
  400: #d4ffc9,
  500: #ccffc0,
  600: #c7ffba,
  700: #c0ffb2,
  800: #b9ffaa,
  900: #adff9c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-error: (
  50: #ffe7e7,
  100: #ffc2c2,
  200: #ff9999,
  300: #ff7070,
  400: #ff5252,
  500: #ff3333,
  600: #ff2e2e,
  700: #ff2727,
  800: #ff2020,
  900: #ff1414,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe6ea,
  A700: #ffcdd4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat.define-palette($m2-primary, 800);
$accent: mat.define-palette($m2-accent, 900);
$warn: mat.define-palette($m2-error, 900);

$warn: mat.define-palette($m2-error);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$input-theme: mat.define-light-theme(
  (
    color: (
      primary: $accent,
      accent: $accent,
    ),
  )
);
@include mat.all-component-themes($theme);

$my-typography: mat.define-typography-config(
  $font-family: $regular-font-family,
  $headline-5: mat.define-typography-level(30px, 32px, 400),
  $headline-6: mat.define-typography-level(25px, 32px, 400),
  $subtitle-1: mat.define-typography-level(20px, 32px, 400),
  $subtitle-2: mat.define-typography-level(15px, 32px, 400),
);
@include mat.typography-hierarchy($my-typography);
.primary {
  background: rgb(121, 207, 104);
  background: linear-gradient(
    90deg,
    rgba(121, 207, 104, 1) 5%,
    rgba(0, 124, 51, 1) 87%
  );
}

.box-shadow {
  -webkit-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 20px 0px rgba(0, 0, 0, 0.75);
}
html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  text-align: center;
}

.error {
  color: #ff1414;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

.background {
  margin: 0;
  // background-image: url("../public/images/background.jpg");
  background: #d8d5d5;
  min-height: 150vh;
  background-size: cover;
  position: fixed;
  width: 100%;
  z-index: -1;
  // filter: opacity(0.2);
  background-position: center;
}

.white {
  color: white;
}

.mat-mdc-dialog-content {
  padding: 0px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
