<main class="box-shadow">
  <h2 class="primary">Reset your password</h2>
  <p class="mat-small">A link will be send to your address email</p>
  <mat-form-field>
    <mat-label id="email">Email</mat-label>
    <input [formControl]="email" matInput type="text" name="email" id="email" />
    @if (email.hasError('required')) {
    <mat-error>Email required</mat-error>
    } @if (email.hasError('pattern')) {
    <mat-error>Email invalid</mat-error>
    }
  </mat-form-field>
  <button
    (click)="sendResetPasswordLink()"
    [disabled]="!email.valid"
    mat-raised-button
    color="accent"
  >
    Send
  </button>

  @if (isSuccess()) {
  <div class="alert-success">
    <h4>A link has been send to your email</h4>
  </div>

  }
</main>
